<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<div layout:fragment="content">
    <div class=" align-items-center text-bg-primary rounded-3 border-0" th:text="${success}" th:if="${success}"></div>
    <div class=" align-items-center text-bg-primary rounded-3 border-0" th:if="${param.error}">Neplatný email nebo heslo.</div>
<div class="px-3">
    <h1 class="display-4">Přihlášení</h1>
    <form th:action="@{/account/login}" method="post" class="m-3 col-4 ol-md-4">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="text" name="email"  class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Heslo</label>
            <input id="password" type="password" name="password" class="form-control">
        </div>
        <div class="form-group container-fluid py-2 d-flex justify-content-between">
            <div>
                <button type="submit" class="btn btn-primary rounded-3">Registrace</button>

            </div>
            <div>
                <a th:href="@{/account/login}" class=" btn btn-primary rounded-3">Přihlášení</a>
            </div>
        </div>

    </form>
</div>
</div>
</body>

</html>