<!DOCTYPE html>
<html lang="cs-cz" layout:decorate="layouts/defaultLayout">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-md-4 col-4 px-3 m-3">
        <h1 class="display-4">Registruj se</h1>
        <form class="m-3 ol-md-4" th:action="@{/account/register}" th:object="${userDTO}" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input th:field="*{email}" id="email" type="text" name="email" class="form-control">
                <small class="text-danger" th:errors="*{email}"></small>
            </div>
            <div class="form-group">
                <label for="password">Heslo</label>
                <input th:field="*{password}" id="password" type="password" name="password" class="form-control">
                <small class="text-danger" th:errors="*{password}"></small>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Zopakuj heslo</label>
                <input th:field="*{confirmPassword}" id="confirmPassword" type="password" name="confirmPassword"
                       class="form-control">
                <small class="text-danger" th:errors="*{confirmPassword}"></small>
            </div>

            <div class="form-group container-fluid py-2 d-flex justify-content-between">

                <div>
                    <a th:href="@{/account/login}" class=" btn btn-primary rounded-3">Přihlášení</a>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary rounded-3">Registrace</button>

                </div>
            </div>

        </form>
    </div>
</div>
</body>

</html>